// Colors
$color-white: #FFFFFF;
$color-light: #FAFAFA;
$color-grey: #888888;
$color-brown: #B18D5B;
$color-black: #000000;
$color-red: #ff0000;
$color-red-opaque: #cd2f32;
$color-blue: #4957d1;
$body-color: #333333;
$custom-control-indicator-checked-bg: $color-white;
$custom-control-indicator-checked-color: $body-color;
$custom-control-indicator-checked-border-color: $body-color;
/*

$theme-colors: (
        "white": $color-white,
        "light": $color-light,
        "grey": $color-grey,
        "brown": $color-brown,
        "black": $color-black,
  "primary": #0074d9,
  "danger": #ff4136,
);

// Body
$body-bg: $color-light;
$body-color: $color-grey;

// Misc
$box-shadow: 0 0 50px rgba(0, 0, 0, 0.25);

// Typography
$font-family-sans-serif: 'Source Sans Pro', sans-serif;

// Button
$btn-border-radius: 0;
$btn-border-width: 2px;
$btn-font-weight: bold;
*/